<div (click)="goToLanguage('css3')" class="float-left col-6 col-sm-4 col-md-3 col-xl-2">
  <img src="assets/css3.png" class="w-100 hover-border img-fluid img-thumbnail" alt="Responsive image">
</div>

<div (click)="goToLanguage('html5')" class="float-left col-6 col-sm-4 col-md-3 col-xl-2">
  <img src="assets/html5.png" class="w-100 hover-border img-fluid img-thumbnail" alt="Responsive image">
</div>

<div (click)="goToLanguage('java')" class="float-left col-6 col-sm-4 col-md-3 col-xl-2">
  <img src="assets/java.png" class="w-100 hover-border img-thumbnail" alt="Responsive image">
</div>

<div (click)="goToLanguage('node')" class="float-left col-6 col-sm-4 col-md-3 col-xl-2">
  <img src="assets/node.jpeg" class="w-100 hover-border img-fluid img-thumbnail" alt="Responsive image">
</div>      

<div (click)="goToLanguage('angular')" class="float-left col-6 col-sm-4 col-md-3 col-xl-2">
  <img src="assets/angular.png" class="w-100 hover-border img-fluid img-thumbnail" alt="Responsive image">
</div>

<div (click)="goToLanguage('python')" class="float-left col-6 col-sm-4 col-md-3 col-xl-2">
  <img src="assets/python.png" class="w-100 hover-border img-fluid img-thumbnail" alt="Responsive image">
</div> 
